.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0;
    background-color: black;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 1000;
}
.menu {
    font-family: Microsoft JhengHei;
    text-align: center;
    width:70%;
}
.header a {
    margin:0 40px;
    transition: color .5s;
}
.header a:hover {
    color:#b7b4b4;
}
.cart {
    color:white;
    transition: .5s;
    cursor: pointer;
}
.cart:hover{
    color:#b7b4b4;
}
